 /* estilo para el munu pricipal */
 @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?v8aa9l');
    src:  url('../fonts/icomoon.eot?v8aa9l#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?v8aa9l') format('truetype'),
      url('../fonts/icomoon.woff?v8aa9l') format('woff'),
      url('../fonts/icomoon.svg?v8aa9l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  
 /* estilo para todo el sitio web */
  
.logotip{
    align-self: center;
}
 body {
     font-family: 'Source Sans Pro', sans-serif;
     margin: 0;
 }

figure {
    margin: 0;
    padding: 0 20px;
}

 h1, 
 h2, 
 h3, 
 h4, 
 h5, 
 h6 {
    font-family: 'Fjalla One', sans-serif; 
    font-weight: normal;
 }

 h1 {
     font-size: 40px;
     line-height: 1.5;
     letter-spacing: -.2px;
     text-transform: capitalize; 
     color: white;
     margin: 0px;
     align-items: center;
    
 }

 h1 strong{
     color: blue;
 }
 h2 {
     color: blue;
     text-transform: uppercase;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 22px;
     font-weight: bold;
     margin-bottom: 40px;
 }
 .portfolio{
     background: #fafafa;
     margin: 0 auto;
     padding: 20px 0;
    
 }

 .proyect{
    border: 1px solid black;
    border-radius: 10px;
    border-top-right-radius: 50px;
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
 }

 .proyect-details{
     width: 500px;
 }

 .proyect-imageContainer{
     width: 500px;
     max-width: 100%;
 }

.proyect-title{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

.proyect-fecha,
.proyect-work,
.proyect-link {
    margin: 10px 0;
}

.proyect-description {
    font-size: 20px
}

.proyect strong {
    font-family: 'Fjalla One', sans-serif; 
}

 .principal {
     height: 300px;
     /* background-image: url('../inicio.png');
     background-size: 550px 250px;
     background-repeat: no-repeat; */
     /* background-position-x: right; */
     background-color: #000000;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0;
     flex-wrap: wrap;
 }

 .principal-image {
     object-fit: cover;
     display: inherit;
     padding: inherit;
     width: 400px;
     /* border: 2px solid pink; */
     height: inherit;
     justify-content: space-between;
     align-items: center;
    
 } 
.principal-image img{
    border-radius: 5px;
}
 .cabecera{
     background-color: #000000;
     color: white;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 70px;
     flex-wrap: wrap;

 }

 .cabecera a {
     color: white;
     text-decoration: none;
     height: inherit;
     display: flex;
     align-items: center;
     padding: 10px 10px;  
     
 }

 ol,
 li {
     margin: 0;
     padding: 10px;
     list-style: none;
     display: flex;
     height: inherit;
    
 }

 .cabecera ol li{
     align-items: center;
     display: flex;
     height: inherit;
     
 }
 .menu {
     display: flex;
 }

 .menu ol{ 
    margin: 0px;
    padding: 0px; 
    display: flex;
    height: inherit;
    align-items: center;
    
 }

.index {
    color: black;
    text-decoration: none;
    text-transform: inherit;
}

 .pie-pagina{
     background: #1b2127;
     display: flex;
     align-items: center;   
     color: white;
     justify-content: space-between;
     /* flex-wrap: wrap; */
     padding: 20px 0;
     margin: 0 auto;
     background-size: 10px;
     height: 100px;
 }

 .pie-pagina img{
     
     vertical-align: middle;
     border-radius: 5px;
 }

 .pie-pagina a{
     color: white;
 }
 .experientia{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     /* margin-bottom: 15px; */
     padding: 20px;
     align-items: center;
     margin: 20px;

 }

 .experientia-title {
    margin-bottom: 1px;
    margin-left: 0px;
    
 }

 .work {
     /* border: 1px solid red; */
     margin: 1px;
     width: 48%;
     flex-shrink: 0;
     border-radius: 10px;
     overflow: hidden;
     background: paleturquoise;
     /* align-items: center;
     justify-content: space-between; */
 }
.work-imageContainer{
    display: flex;
    width: auto;
    max-width: 100%;
    padding: 0px 0px;
    margin: 0;
    position: relative;


}
.work img{
    width: 500px;
    height: 300;
    object-fit: cover;
   
}

.work-detail{
    margin: 30px 40px;
    background: white;
    margin-top: -50px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.work-description{
    text-align: left;
}

.work-link{
    border: 1px solid blue;
    padding: 5px 20px;
    text-decoration: none;  
    color: blue;
    border-radius: 5px;
}

.contact {
    background: mediumblue;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0px;
    margin: 0 auto;
}

.social-red { 
    width: 50px;
    height: 50px;
    display: inline-block; 
    background-size: 50px 50px;
    margin: 0 10px;
    border-radius: 5px;
}

.social-red.twitter{
    background-image: url('../images/twitter.png');
}

.social-red.facebook{
    background-image: url('../images/facebook.png');
}

.social-red.instagram{
    background-image: url('../images/instagram.jpg');
}

.social-red.github{
    background-image: url('../images/github.png');
}

.form-email input{
    border-color: gray;
    border-style: solido;
    border-radius: 5px;
    padding: 10px 20px 10px 30px;
    background-image: url('../images/correo.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;

}

.form-email button{
    display: block;
    background: transparent;
    color: white;
    margin: 10px;
    padding: 10px 40px;
    border-radius: 5px;
}

.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    /* border: 1px solid red; */
    max-width: 1100px;
    flex: 1;
    margin: inherit;
    display: inherit;
    justify-content: inherit;
    height: inherit;
    align-items: inherit;
    padding: 0 20px;
    flex-wrap: wrap;
    flex-shrink: initial;
   
}

.video-html {
        width: auto;
    }

.video-youtube {
        max-width: auto;
        height: 350px;
    }

.burger-menu {
    width: 50px;
    height: 50px;
    background-color: rgba(0,0, 0, .8);
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 4;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 30px;
    
}

@media screen and (max-width: 1000px){
    .principal{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    .principal-image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        
    }
    h1{
       font-size: 2em;
       z-index: 2;
    }
    .video-html {
        width: 100%;
    }
    .video-youtube {
        max-width: auto;
        height: 350px;
    }

    .burger-menu{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0, 0, .8);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 4;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 30px;
    }

    .video-youtube {
        max-width: 100%;
        height: 350px;
    }

    .video-html {
        width: 100%;
    }
    h1{
        font-size: 2em;
        z-index: 2;
        background: rgba(0,0,0,.5); 
    }

    .principal{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    .principal-image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        
    }

    .principal img{
        overflow: hidden;
    }

    .menu{
        position: fixed;
        background: rgba(5, 111, 255, .8);
        z-index: 2;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;
    
        }
    .menu.active{
        left: 0;
        display: flex;
    }

    .cabecera a{
        height: 40px;
        justify-content: center;
        font-size: 30px;
        text-decoration: underline;
        margin-bottom: 20px;
        
        
    }

    .cabecera{
        display: block;
        height: auto;
    }
    
    .cabecera ol{
        display: block;
    }

    .cabecera ol li{
        height: 20px;
    }

    .cabecera .logotip{
        text-align: center;
    }

    .portfolio h2{
        text-align: center;
    }
    .proyect{
        display: block;
        width: auto;
    }

    .proyect-imageContainer{
        width: auto;
        text-align: center;
        

    }

    .proyect img{
        position: relative;
        width: 100%;
    }

    .proyect-details{
        width: auto;
        text-align: center;
    }

    .work {
        display: block;
        width: auto;
        
    }
    .work-detail{
        margin: -2em 0.5em 0.5em;
        padding: 1em;

    }
    .work img{
        width: 100%;
    }

    .experientia-title{
        text-align: center;
    }

    .experientia{
        display: block;
        width: auto;
    }

    .contact{
        height: auto;
        width: auto;
        display: block;
        text-align: center;
        margin-top: 0;
    }
    .container{
        width: auto;
    }

    .work-imageContainer{
        height: auto;
        display: block;
        text-align: center;
        width: auto;

        margin: 0 auto;
        padding: 1em;
        
    }

    .form-email button{
        margin: 1em auto;
    }

    .form-email h3{
        margin-top: 0;
    }

    .pie-pagina {
        display: block;
        text-align: center;
        /* border: 1px solid transparent; */
        flex-wrap: wrap;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
}
   


@media screen and (max-width:767px){
   

}
@media only screen and (max-width: 480px){
 
}
@media screen and (max-width: 320px){
   
}